#appTopNav {
    /* https://cloudscape.design/components/top-navigation/?tabId=api */
    position: sticky;
    top: 0;
    z-index: 1999;
}
#appTopNav header{
    background-color: var(--Primary-400) !important;
}
